:root {
    --gray:#795b5b;
    --color-1: #f4f4f4;
    --color-2: #ef4444;
    --color-3: #f59e0b;
    --color-4: #10bc98;
    --color-5: #3b02f6;
    --color-6: #000000;
    --color-7: #59fff9;
    --color-8: #7c3aed;
}
html {
    font-size: 62.5%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color:var(--gray);
    width: 50rem;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.box {
    background-color: var(--color-5);
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    display:box-overflowing;
}
.box-1 {
    background-color: var(--color-1);
}
.box-2 {
    background-color: var(--color-2);
}
.box-3 {
    background-color: var(--color-3);
}
.box-4{
    background-color: var(--color-4);
}
/*300px > small Devices > 600px*/
@media screen and (min-width: 300px) and (max-width: 600px) {

    body {
        background-color: var(--color-1);
    }
    .container{
        background-color: var(--color-1);
        flex-direction: column;
    }

    .box { 
        width: 15rem;
        height: 10rem;
        gap: 1.5rem;
    }

    .box-1 {
        background-color: var(--color-4);
    }

    .box-2 {
        background-color: var(--color-3);
    }

    .box-3 {
        background-color: var(--color-2);
    }

    .box-4 {
        background-color: var(--color-1);
    }
}
/*300px > Medium Devices > 900px*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    
}
body{
    background-color: var(--color-1);
}
.container{
    background-color: var(--gray);
    flex-direction: row;
    width: 60rem;
    height: 60rem;
    gap: 1.5rem;
    row-gap: gap;
}
.box{
    width:20rem;
    height: 20rem;
    gap:1.5rem;
}
.box-1{
    background-color: var(--color-3);
}
.box-2{
    background-color: var(--color-1);
}
.box-3{
    background-color: var(--color-4);
}
.box-4{
    background-color: var(--color-2);
}
/*901px > Large Devices > 1200px*/
@media screen and (min-width: 901px) and (max-width: 1200px) {
    body{
        background-color: var(--color-4);
    }
    .container{
        background-color: var(--gray);
    flex-direction: row;
    width: 60rem;
    height: 60rem;
    gap: 1.5rem;
    row-gap: gap;

    }
    .box{
        width: 25rem;
        height:25rem;
        gap:1.5rem;
    }
    }
.box-1{
    background-color: var(--color-2);
}
.box-2{
    background-color: var(--color-1);
}
.box-3{
    background-color: var(--color-4);
}
.box-4{
    background-color: var(--color-3);
}

/*  Extra Large Devices <1201*/
@media screen and (min-width: 1201px) {
    body{
        background-color: var(--color-2);
    }
    .container{
        background-color: var(--gray);
    flex-direction: row;
    width: 60rem;
    height: 60rem;
    gap: 1.5rem;
    row-gap: gap;

    }
    .box{
        width: 25rem;
        height:25rem;
        gap:1.5rem;
    }
    }
.box-1{
    background-color: var(--color-1);
}
.box-2{
    background-color: var(--color-2);
}
.box-3{
    background-color: var(--color-3);
}
.box-4{
    background-color: var(--color-5);
}
    
